@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

.header{
    color: white;
    display: flex;
    height: 50px;
    width: 100%;
    background-color: #000;
}

a{
    text-decoration: none;
    color: white;
    padding: 10px;
    padding-bottom: 5px;
    position: relative; 
    
}


.navi a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    width: 0; 
    height: 2px;
    transition: width 0.3s ease-in-out;
}

.navi a:hover::after{
    width: 100%;
}

.header h3{
    font-size: 25px;
    font-family: 'ICA Rubrik';
    padding: 10px;
}

.navi{
    flex: 2;
    text-decoration: none;
    font-family: 'ICA Rubrik';
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    margin: auto;
    padding-right: 10px;
}


.me{
    text-align: center;
    font-size: 2em;
     color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right,#093028,#3b4371,#093028);
    font-family: poppins;
    letter-spacing: 25px;
    padding: 10px;
}

.banner{
    width: 100%;
    height: 91.6vh;
    text-align: center;
    overflow: hidden;
    position: relative;
    background-color: #96B6C5;
}


.banner .slider{
    position: absolute;
    width: 202px;
    height: 200px;
    top: 27%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    z-index: 2;
}

@keyframes autoRun{
    from{
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }to{
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
}

.banner .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(400px);
}

.banner .slider .item img{
    width: 50%;
    height: 50%;
    object-fit: cover;
}


.banner .content{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.banner .content h1{
    font-family: 'ICA Rubrik';
    padding-bottom: 0px;
    left: 14%;
    letter-spacing: 20px;
    bottom: -230px;
    font-size: 7em;
    line-height: 5em;
    color: #25283B;
    position: relative;
}

.banner .content h1::after{
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 2px #d2d2d2;
    color: transparent;
}

.banner .content .model{
    background-image: url(photo.png);
    width: 100%;
    height: 75vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: auto 130%;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 1;
}

#about{
    padding-bottom: 10px;
    background-color: #96B6C5;
    
}

.aboutbox{
    text-align: center;
    padding: 20px;
    width: 95%;
    margin: auto;
    border-radius: 10px;
    background-color: #ADC4CE;
    box-shadow: 2px 3px 6px rgb(0, 0, 0);
}

.aboutbox h2{
    font-family: 'ICA Rubrik';
    font-size: 35px;
    padding-bottom: 10px;
}

.aboutbox p{
    text-align: justify;
}

.footer{
    background-color: rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.475);
    text-align: center;
    font-size: 14px;
    padding-bottom: 3px;
}

#contact{
    padding-top: 10px;
    text-align: center;
    font-size: 15px;
    
    height: 40px;
}


@media screen and (max-width: 768px) {

    .header {
        height: auto;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    .header h3 {
        font-size: 20px;
        padding-bottom: 5px;
    }

    .navi {
        flex: unset;
        text-align: center;
        padding-right: 0;
        font-size: 16px; 
    }
    
    .navi a {
        padding: 5px 8px;
        display: inline-block;
    }
    
    .banner {
        height: 80vh; 
    }
    
    .banner .content h1 {
        font-size: 6em; 
        line-height: 1.2em;
        letter-spacing: 10px;
        left: 0; 
        bottom: 250px;
        text-align: center;
        width: 100%;
    }

    .banner .content h1::after {
        -webkit-text-stroke: 1px #d2d2d2;
    }
    .me {
        letter-spacing: 6px; 
        font-size: 33px;
    }
    
    .banner .slider {
        width: 150px;
        height: 150px;
        left: calc(50% - 75px);
        top: 220px;
    }
    .banner .slider .item {
        transform: 
            rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(180px);
    }
}



@media screen and (max-width: 480px) {

    .navi {
        font-size: 14px;
    }
    
    .navi a {
        padding: 5px;
    }
    
    .banner .content h1 {
        font-size: 2em;
        letter-spacing: 16px;
    }
    
    .me {
        letter-spacing: 5px;
        font-size: 1em;
    }
    
    .banner .slider {
        width: 100px;
        height: 100px;
        left: calc(50% - 50px);
        top: 19%;
    }
    .banner .slider .item {
        transform: 
            rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(190px);
    }

    .banner .content .model {
        background-size: auto 100%;
    }
}